body{
  margin: 0;
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
}
.row{
  width: 800px;
  margin: auto;
}
h1{
  margin: 0;
  padding:0;
  color: white;
  font-weight: normal;
}
header{
  background-color: #7A1EA1;
}
header > div {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
header > div > form{
  margin-left: auto;
}
#favoritesButton{
  margin-left: 2rem;
}
li{
  padding: 5px;
  cursor: pointer;
}
li:hover{
  background-color: #bbb;
}
