body{
  margin: 0;
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
}
.row{
  max-width: 800px;
  margin: auto;
}
h1{
  margin: 0;
  padding:0;
  color: white;
  font-weight: normal;
}
header{
  background-color: #7A1EA1;
}
header > div {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
header > div > form{
  margin-left: auto;
}
#favoritesButton{
  margin-left: 2rem;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main > * {
  max-width: 50%;
  min-width: 375px;
}
ul{
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
}
li{
  background-color: #8bc34a;
  color: black;
  padding: 5px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  margin: 2px;
}
li:hover{
  background-color: #cddc39;
}

@media (max-width:800px){
  main{
    justify-content: center;
  }
}
